<template name="about">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron about">
		<div class="container">
			<h1>About this app</h1>
			<p>
				TODOCO is a simple collaborative to-do list to share with your coworkers, family members or your imaginary friends (such as we have in this demo). TODOCO is a spin of the classic to-do list created in the <a href="//www.meteor.com/" target="top">Meteor framework</a>.
			</p>
			<p>
				This app was created as a school assignement in a web development class at the <a href="//www.hi.is" target="top">University of Iceland</a>.
			</p>
			<br>

			<hr display="hidden">
			<div>
				<h2>The functionality</h2>
				<p>
					The functionality of this app is quite simple, create a new task with the designated "new task" button. Once there are tasks in the list any registered user can view the tasks detail and assign themselves to it. When a user has resolved a task, that he has previously been assigned to, he can click on the task and post a resolution. Once a resolution has been posted the task gets marked with the "resolved" label... oh yes, the labels
				</p>

				<p>
					At the top of the interface there are few filters that can be applied to the task list.

					<ul>
						<li><strong>By me</strong> - See all tasks that you have posted</li>
						<li><strong>For me</strong> - See all tasks that you are assigned to</li>
						<li><strong>Unresolved</strong> - See all tasks that are currently unresolved</li>
						<li><strong>Resolved</strong> - See all tasks that have been resolved</li>
						<li><strong>Due</strong> - See all tasks that are within 2 days of it'd due date</li>
						<li><strong>Past due</strong> - See all tasks that have past there due date</li>
					</ul>

					You can then combine these filters to create different views.				
				</p>

				<hr>
				<h2>Taking it further</h2>
				<p>
					So, were can we go with this.

				</p>
				<p>
					To make this app more functional we could allow users to create teams, so team members can only deal with tasks within the teams they are members of. We could also enable team leaders to assign team members to tasks and allow task creators to reject resolutions that are not up to par. Of course we would also need to allow user registration, but since this app is just created for the purpose of this assignment - and this is hosted on an open platform - we have left that part out for now.
				</p>
			</div>
		</div>
	</div>
</template>