<template name="nav">

	<div class="container navi">
		<label class="heading">View stuff by </label>
		<button data-filter="byme" class="viewFilter btn btn-sm btn-primary" data-toggle="button">By me</button>
		<button data-filter="forme" class="viewFilter btn btn-sm btn-primary" data-toggle="button">For me</button>
		<button data-filter="unresolved" class="viewFilter btn btn-sm btn-info" data-toggle="button">Unresolved</button>
		<button data-filter="resolved" class="viewFilter btn btn-sm btn-success" data-toggle="button">Resolved</button>
		<button data-filter="due" class="viewFilter btn btn-sm btn-warning" data-toggle="button">Due</button>
		<button data-filter="past" class="viewFilter btn btn-sm btn-danger" data-toggle="button">Past due</button>
		<p class="add-on">Toggle filters on or off to alter the view - color: off, gray: on</p>
	</div>
</template>